:root {
  /* 🌈 Gradients pour le fond et éléments principaux */
  --bg-body: linear-gradient(
    90deg,
    rgba(25, 161, 230, 1) 0%,
    rgba(0, 122, 184, 1) 100%
  );
  --bg-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(0, 0%, 92%) 3%,
    hsl(0, 0%, 90%) 97%
  );
  --bg-gradient-jet:
    linear-gradient(
      to bottom right,
      hsla(0, 0%, 100%, 1) 3%,
      hsla(0, 0%, 90%, 0.8) 100%
    ),
    hsl(210, 20%, 85%);
  --bg-gradient-yellow1: linear-gradient(
    to bottom right,
    hsl(200, 80%, 50%) 0%,
    hsla(0, 0%, 100%, 0) 50%
  );
  --bg-gradient-yellow2:
    linear-gradient(
      135deg,
      hsla(200, 80%, 50%, 0.251) 0%,
      hsla(35, 100%, 68%, 0) 59.86%
    ),
    hsl(210, 20%, 85%);

  --bg-gradient-skill-note: linear-gradient(
    90deg,
    hsl(200, 80%, 50%) 0%,
    hsl(0, 0%, 100%) 65%,
    hsl(200, 80%, 50%) 100%
  );
  --border-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(0, 0%, 100%) 0%,
    hsl(0, 0%, 95%) 50%
  );
  --text-gradient-yellow: linear-gradient(
    to right,
    hsl(200, 84%, 63%),
    hsl(200, 100%, 41%)
  );

  /* 🎨 Couleurs principales */
  --jet: hsl(210, 30%, 90%);
  --onyx: hsl(0, 0%, 100%);
  --eerie-black1: hsl(0, 0%, 100%);
  --eerie-black2: hsl(0, 0%, 95%);
  --smoky-black: hsl(210, 20%, 97%);
  --white1: hsl(0, 0%, 0%);
  --white2: hsl(0, 0%, 2%);
  --orange-yellow-crayola: hsl(200, 80%, 50%); /* accent bleu */
  --orange-yellow-crayola-50: hsl(200, 80%, 50%, 0.5); /* accent bleu */
  --vegas-gold: hsl(200, 60%, 55%);
  --light-gray: hsl(210, 4%, 18%);
  --light-gray70: hsla(210, 4%, 18%, 0.7);
  --bittersweet-shimmer: hsl(0, 43%, 51%);

  /* Typographie */
  --ff-poppins: "Poppins", sans-serif;

  --fs1: 24px;
  --fs2: 18px;
  --fs3: 17px;
  --fs4: 16px;
  --fs5: 15px;
  --fs6: 14px;
  --fs7: 13px;
  --fs8: 12px;

  --fw300: 300;
  --fw400: 400;
  --fw500: 500;
  --fw600: 600;
  /*  Ombres */
  --shadow1: -4px 8px 24px hsla(0, 0%, 70%, 0.25);
  --shadow2: 0px 16px 30px hsla(0, 0%, 70%, 0.4);
  --shadow3: 0px 16px 40px hsla(0, 0%, 70%, 0.25);
  --shadow4: 0px 25px 50px hsla(0, 0%, 70%, 0.15);
  --shadow5: 0px 24px 80px hsla(0, 0%, 70%, 0.25);
  /* Transitions */
  --transition1: 0.25s ease;
  --transition2: 0.5s ease-in-out;
  /* filter map */
  --filter-map: grayscale(0) invert(0);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* gradient */
    --bg-body: hsl(0, 0%, 7%);

    --bg-gradient-onyx: linear-gradient(
      to bottom right,
      hsl(240, 1%, 25%) 3%,
      hsl(0, 0%, 19%) 97%
    );
    --bg-gradient-jet:
      linear-gradient(
        to bottom right,
        hsla(240, 1%, 18%, 0.251) 3%,
        hsla(240, 2%, 11%, 0) 100%
      ),
      hsl(240, 2%, 13%);
    --bg-gradient-yellow1: linear-gradient(
      to bottom right,
      hsl(45, 100%, 71%) 0%,
      hsla(36, 100%, 69%, 0) 50%
    );
    --bg-gradient-yellow2:
      linear-gradient(
        135deg,
        hsla(45, 100%, 71%, 0.251) 0%,
        hsla(35, 100%, 68%, 0) 59.86%
      ),
      hsl(240, 2%, 13%);

    --bg-gradient-skill-note: linear-gradient(
      90deg,
      rgba(255, 219, 112, 1) 0%,
      rgba(18, 18, 18, 1) 65%,
      rgba(255, 219, 112, 1) 100%
    );
    --border-gradient-onyx: linear-gradient(
      to bottom right,
      hsl(0, 0%, 25%) 0%,
      hsla(0, 0%, 25%, 0) 50%
    );
    --text-gradient-yellow: linear-gradient(
      to right,
      hsl(45, 100%, 72%),
      hsl(35, 100%, 68%)
    );
    /* Couleurs Principales */
    --jet: hsl(0, 0%, 22%);
    --onyx: hsl(240, 1%, 17%);
    --eerie-black1: hsl(240, 2%, 13%);
    --eerie-black2: hsl(240, 2%, 12%);
    --smoky-black: hsl(0, 0%, 7%);
    --white1: hsl(0, 0%, 100%);
    --white2: hsl(0, 0%, 98%);
    --orange-yellow-crayola: hsl(45, 100%, 72%);
    --orange-yellow-crayola-50: hsla(45, 100%, 72%, 0.5);
    --vegas-gold: hsl(45, 54%, 58%);
    --light-gray: hsl(0, 0%, 70%);
    --light-gray70: hsla(0, 0%, 70%, 0.7);
    /* --bittersweet-shimmer: hsl(0, 43%, 51%); */

    --shadow1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    --shadow2: 0px 16px 30px hsla(0, 0%, 0%, 0.25);
    --shadow3: 0px 16px 40px hsla(0, 0%, 0%, 0.25);
    --shadow4: 0px 25px 50px hsla(0, 0%, 0%, 0.15);
    --shadow5: 0px 24px 80px hsla(0, 0%, 0%, 0.25);
    /* filter map */
    --filter-map: grayscale(0) invert(1);
  }

  .sociallink:hover .socialIcon,
  .sociallink:focus .socialIcon {
    filter: brightness(0) saturate(100%) invert(93%) sepia(63%) saturate(7090%)
      hue-rotate(309deg) brightness(110%) contrast(108%);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img,
ion-icon,
a,
button,
time,
span {
  display: block;
}

button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

input,
textarea {
  display: block;
  width: 100%;
  background: none;
  font: inherit;
}

::selection {
  background: var(--orange-yellow-crayola);
  color: var(--smoky-black);
}

:focus {
  outline-color: var(--orange-yellow-crayola);
}

html {
  font-family: var(--ff-poppins);
}

body {
  background: var(--bg-body);
}
