@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.main {
  margin: 15px 12px;
  margin-bottom: 75px;
  min-width: 259px;
}

.sidebar,
.article {
  background: var(--eerie-black2);
  border: 1px solid var(--jet);
  border-radius: 20px;
  box-shadow: var(--shadow1);
  z-index: 1;
  padding: 15px;
}

.sidebar.active {
  max-height: 500px;
}

.separator {
  width: 100%;
  height: 1px;
  background: var(--jet);
  margin: 16px 0;
}

.iconbox {
  position: relative;
  background: var(--border-gradient-onyx);
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--orange-yellow-crayola);
  box-shadow: var(--shadow1);
  z-index: 1;
}

.iconbox::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--eerie-black1);
  border-radius: inherit;
  z-index: -1;
}

.iconbox ion-icon {
  --ionicon-stroke-width: 35px;
}

.article {
  display: none;
}

.article.active {
  display: block;
  animation: fade 0.5s ease backwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.h2,
.h3,
.h4,
.h5 {
  color: var(--white2);
  text-transform: capitalize;
}

.h2 {
  font-size: var(--fs1);
}
.h3 {
  font-size: var(--fs2);
}
.h4 {
  font-size: var(--fs4);
}
.h5 {
  font-size: var(--fs7);
  font-weight: var(--fw500);
}

.articleTitle {
  position: relative;
  padding-bottom: 7px;
}

.articleTitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background: var(--text-gradient-yellow);
  border-radius: 3px;
}

.hasScrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.hasScrollbar::-webkit-scrollbar-track {
  background: var(--onyx);
  border-radius: 5px;
}

.hasScrollbar::-webkit-scrollbar-thumb {
  background: var(--orange-yellow-crayola);
  border-radius: 5px;
}

.hasScrollbar::-webkit-scrollbar-button {
  width: 20px;
}

.contentCard {
  position: relative;
  background: var(--border-gradient-onyx);
  padding: 15px;
  padding-top: 59px;
  border-radius: 14px;
  box-shadow: var(--shadow2);
  cursor: pointer;
  z-index: 1;
}

.contentCard::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
}

/*ASIDE - SIDEBAR*/

.sidebar {
  margin-bottom: 15px;
  max-height: 185px;
  overflow: hidden;
  padding: 15px;
  transition: var(--transition2);
}

.sidebarInfo {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.avatarBox {
  background: var(--bg-gradient-onyx);
  border-radius: 20px;
}

.infocontent .name {
  color: var(--white2);
  font-size: var(--fs3);
  font-weight: var(--fw500);
  letter-spacing: -0.25px;
  margin-bottom: 10px;
}
.infocontent .tag {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.infocontent .title {
  color: var(--white1);
  background: var(--onyx);
  font-size: var(--fs8);
  font-weight: var(--fw300);
  width: max-content;
  padding: 8px 20px;
  border-radius: 8px;
}

.infoMoreBtn {
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 0 10px;
  font-size: 13px;
  color: var(--orange-yellow-crayola);
  background: var(--border-gradient-onyx);
  padding: 10px;
  box-shadow: var(--shadow2);
  transition: var(--transition1);
  z-index: 1;
}

.infoMoreBtn::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  background: var(--bg-gradient-jet);
  transition: var(--transition1);
  z-index: -1;
}

.infoMoreBtn:hover,
.infoMoreBtn:focus {
  background: var(--bg-gradient-yellow1);
}
.infoMoreBtn:hover::before,
.infoMoreBtn:focus::before {
  background: var(--bg-gradient-yellow2);
}

.infoMoreBtn span {
  display: none;
}

.sidebarInfoMore {
  opacity: 0;
  visibility: hidden;
  transition: var(--transition2);
}

.sidebar.active .sidebarInfoMore {
  opacity: 1;
  visibility: visible;
}

.contactslist {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.contactItem {
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.contactInfo {
  max-width: calc(40% - 54px);
  width: calc(40% - 54px);
}

.contactItem:nth-of-type(2) .contactInfo {
  max-width: calc(34% - 54px);
  width: calc(34% - 54px);
}

.contactInfo :is(.contactLink, time, address) {
  color: var(--white2);
  font-size: var(--fs7);
}
.contactLink {
  position: relative;
}

.contactLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 1px;
  background: hsl(45, 100%, 72%);
  transition: all 0.3s ease-in-out;
}
.contactLink:hover::after,
.contactLink:focus::after {
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.contactInfo address {
  font-style: normal;
}

.contacttitle {
  color: var(--light-gray70);
  font-size: var(--fs8);
  text-transform: uppercase;
  margin-bottom: 2px;
}

.socialList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-bottom: 4px;
  padding-left: 7px;
}

.socialItem .sociallink {
  color: var(--light-gray70);
  font-size: 24px;
}

.socialItem .sociallink:hover {
  color: var(--light-gray);
}

/*NAVBAR*/

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: hsla(240, 1%, 17%, 0.75);
  backdrop-filter: blur(10px);
  border: 1px solid var(--jet);
  border-radius: 12px 12px 0 0;
  box-shadow: var(--shadow2);
  z-index: 5;
}

.navbarlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.navbarlink {
  color: var(--light-gray);
  font-size: var(--fs8);
  padding: 20px 7px;
  transition: color var(--transition1);
}

.navbarlink:hover,
.navbarlink:focus {
  color: var(--light-gray70);
}
.navbarlink.active {
  color: var(--orange-yellow-crayola);
}

/*ABOUT*/

.about .articleTitle {
  margin-bottom: 15px;
  margin-top: 15px;
}

.aboutText {
  color: var(--light-gray);
  font-size: var(--fs6);
  font-weight: var(--fw300);
  line-height: 1.6;
}

.aboutText p {
  margin-bottom: 15px;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}

.service {
  margin-bottom: 35px;
}

.serviceTitle {
  margin-bottom: 20px;
}

.serviceList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.serviceItem {
  position: relative;
  background: var(--border-gradient-onyx);
  padding: 20px;
  border-radius: 14px;
  box-shadow: var(--shadow2);
  z-index: 1;
}

.serviceItem::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
}

.serviceIconBox {
  margin-bottom: 10px;
}
.serviceIconBox img {
  margin: auto;
}

.serviceContentBox {
  text-align: center;
}
.serviceItemTitle {
  margin-bottom: 7px;
}

.serviceItemText {
  color: var(--light-gray);
  font-size: var(--fs6);
  font-weight: var(--fw300);
  line-height: 1.6;
}

/*TESTIMONIALS*/

.testimonials {
  margin-bottom: 30px;
}
.testimonialsTitle {
  margin-bottom: 20px;
}

.testimonialsList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin: 0 -15px;
  padding: 25px 15px;
  padding-bottom: 35px;
  overflow-x: auto;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
}

.testimonialsItem {
  min-width: 100%;
  scroll-snap-align: center;
}

.testimonialsAvatarBox {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(15px, -25px);
  background: var(--bg-gradient-onyx);
  border-radius: 14px;
  box-shadow: var(--shadow1);
}

.testimonialsText {
  color: var(--light-gray);
  font-size: var(--fs6);
  font-weight: var(--fw300);
  line-height: 1.6;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*MODAL CONTAINER*/

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overscroll-behavior: contain;
  z-index: 100;
  pointer-events: none;
  visibility: hidden;
}

.modalContainer::-webkit-scrollbar {
  display: none;
}

.modalContainer.active {
  pointer-events: all;
  visibility: visible;
}

.modalContainer.active .testimonialsModal {
  transform: scale(1);
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: hsl(0, 0%, 5%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 1;
  transition: var(--transition1);
}

.overlay.active {
  opacity: 0.8;
  visibility: visible;
  pointer-events: all;
}

.testimonialsModal {
  background: var(--eerie-black2);
  position: relative;
  padding: 15px;
  margin: 15px 12px;
  border: 1px solid var(--jet);
  border-radius: 14px;
  box-shadow: var(--shadow5);
  transform: scale(1.2);
  opacity: 0;
  transition: var(--transition1);
  z-index: 2;
}

.modalCloseBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: var(--onyx);
  border-radius: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white2);
  font-size: 18px;
  opacity: 0.7;
}

.modalCloseBtn:hover,
.modalCloseBtn:focus {
  opacity: 1;
}
.modalCloseBtn ion-icon {
  --ionicon-stroke-width: 50px;
}

.modalAvatarBox {
  background: var(--bg-gradient-onyx);
  width: max-content;
  border-radius: 14px;
  margin-bottom: 15px;
  box-shadow: var(--shadow2);
}

.modalImgWrapper > img {
  display: block;
  position: absolute;
  /* flex-grow: 1; */
  width: 35px;
  top: 45px;
  left: 120px;
}

.modalTitle {
  margin-bottom: 4px;
}

.modalContent time {
  font-size: var(--fs6);
  color: var(--light-gray70);
  font-weight: var(--fw500);
  margin-bottom: 10px;
}

.modalContent p {
  color: var(--light-gray);
  font-size: var(--fs6);
  font-weight: var(--fw300);
  line-height: 1.6;
}

/*CLIENTS*/

.clients {
  margin-bottom: 15px;
}

.clientsList {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  margin: 0 -15px;
  padding: 25px;
  padding-bottom: 25px;
  overflow-x: auto;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 25px;
}

.clientsItem {
  min-width: 50%;
  scroll-snap-align: start;
}

.clientsItem img {
  width: 100%;
  filter: grayscale(1);
  transition: var(--transition1);
}

.clientsItem img:hover {
  filter: grayscale(0);
}

/*RESUME*/

.articleTitle {
  margin-bottom: 30px;
}

.timeline {
  margin-bottom: 30px;
}

.timeline .titleWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.timelinelist {
  font-size: var(--fs6);
  margin-left: 45px;
}

.timelinelist span {
  color: var(--vegas-gold);
  font-weight: var(--fw400);
  line-height: 1.6;
}

.timelineitem {
  position: relative;
}

.timelineitem:not(:last-child) {
  margin-bottom: 20px;
}
.timelineitem:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -30px;
  width: 1px;
  height: calc(100% + 50px);
  background: var(--jet);
}

.timelineitem::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -33px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: var(--text-gradient-yellow);
  box-shadow: 0 0 0 4px var(--jet);
}

.timelineitemtitle {
  font-size: var(--fs6);
  line-height: 1.3;
  margin-bottom: 7px;
}

.timelinetext {
  color: var(--light-gray);
  font-weight: var(--fw300);
  line-height: 1.6;
  text-align: justify;
}

/*SKILLS*/

.skillstitle {
  margin-bottom: 20px;
}

.skillslist {
  padding: 20px;
}
.skillsCategory {
  color: var(--orange-yellow-crayola);
  font-size: 20px;
  margin-bottom: 10px;
}
/* Dégradé animé pour le texte */
.skillNote {
  margin-left: 10px;
  font-weight: 600;
  font-size: 1rem;

  /* Dégradé */
  background: linear-gradient(
    90deg,
    var(--orange-yellow-crayola),
    #fff,
    var(--orange-yellow-crayola)
  );
  background-size: 200% 100%; /* pour l'animation du mouvement */
  background-clip: text;
  /* Appliquer le dégradé au texte */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Animation */
  animation: gradientMove 2s linear infinite;
}

/* Animation du dégradé */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.skillsItem:not(:last-child) {
  margin-bottom: 15px;
}

.skill .titleWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
}

.skill .titleWrapper data {
  color: var(--light-gray);
  font-size: var(--fs7);
  font-weight: var(--fw300);
}

.skillsProgressBg {
  background: var(--jet);
  width: 100%;
  height: 8px;
  border-radius: 10px;
}

.skillsProgressFill {
  background: var(--text-gradient-yellow);
  width: var(--target-width);
  height: 100%;
  border-radius: inherit;
  animation: fillBar 1s ease forwards;
}
@keyframes fillBar {
  from {
    width: 0;
  }
  to {
    width: var(--target-width);
  }
}

/*PORTFOLIO*/

.filterList {
  display: none;
}

.filterSelectBox {
  position: relative;
  margin-bottom: 25px;
}

.filterSelect {
  background: var(--eerie-black2);
  color: var(--light-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid var(--jet);
  border-radius: 14px;
  font-size: var(--fs6);
  font-weight: var(--fw300);
}

.filterSelect.active .selecticon {
  transform: rotate(0.5turn);
}

.selectList {
  background: var(--eerie-black2);
  position: absolute;
  top: calc(100% + 6px);
  width: 100%;
  padding: 6px;
  border: 1px solid var(--jet);
  border-radius: 14px;
  z-index: 2;
  visibility: hidden;
  pointer-events: none;
  transition: 0.5s ease-in-out;
}

.filterSelect.active + .selectList {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.selectItem button {
  background: var(--eerie-black2);
  color: var(--light-gray);
  font-size: var(--fs6);
  font-weight: var(--fw300);
  text-transform: capitalize;
  width: 100%;
  padding: 8px 10px;
  border-radius: 8px;
}

.selectItem button:hover {
  --eerie-black2: hsl(240, 2%, 20%);
}

.projectList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-bottom: 10px;
}

.projectItem {
  display: none;
}

.projectItem.active {
  display: block;
  animation: scaleUp 0.25s ease forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.projectItem > a {
  width: 100%;
}

.projectImg {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 15px;
}

.projectImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition1);
}

.projectImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
  transition: var(--transition1);
}

.projectItem > a:hover img {
  transform: scale(1.1);
}

.projectItem > a:hover .projectImg::before {
  background: hsla(0, 0%, 0%, 0.5);
}

.projectItemIconBox {
  --scale: 0.8;

  background: var(--jet);
  color: var(--orange-yellow-crayola);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(var(--scale));
  font-size: 20px;
  padding: 18px;
  border-radius: 12px;
  opacity: 0;
  z-index: 1;
  transition: var(--transition1);
}

.projectItem > a:hover .projectItemIconBox {
  --scale: 1;
  opacity: 1;
}

.projectItemIconBox ion-icon {
  --ionicon-stroke-width: 50px;
}

.projectTitle,
.projectCategory {
  margin-left: 10px;
}

.projectTitle {
  color: var(--white2);
  font-size: var(--fs5);
  font-weight: var(--fw400);
  text-transform: capitalize;
  line-height: 1.3;
}

.projectCategory {
  color: var(--light-gray70);
  font-size: var(--fs6);
  font-weight: var(--fw300);
}

/*CONTACT*/

.mapBox {
  position: relative;
  height: 250px;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 30px;
  border: 1px solid var(--jet);
  overflow: hidden;
}

.mapBox figure {
  height: 100%;
}

.mapBox iframe {
  width: 100%;
  height: 100%;
  border: none;
  filter: grayscale(0) invert(1);
}

.contact-form {
  margin-bottom: 10px;
}

.formTitle {
  margin-bottom: 20px;
}

.inputWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  margin-bottom: 25px;
}

.formInput {
  color: var(--white2);
  font-size: var(--fs6);
  font-weight: var(--fw400);
  padding: 13px 20px;
  border: 1px solid var(--jet);
  border-radius: 14px;
  outline: none;
}

.formInput::placeholder {
  font-weight: var(--fw500);
}
.formInput:focus {
  border-color: var(--orange-yellow-crayola);
}
.formInput:focus:invalid {
  border-color: var(--bittersweet-shimmer);
}

textarea.formInput {
  min-height: 100px;
  height: 120px;
  max-height: 200px;
  resize: vertical;
  margin-bottom: 25px;
}

textarea.formInput::-webkit-realizer {
  display: none;
}

.formBtn {
  position: relative;
  width: 100%;
  background: var(--border-gradient-onyx);
  color: var(--orange-yellow-crayola);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 13px 20px;
  border-radius: 14px;
  font-size: var(--fs6);
  text-transform: capitalize;
  box-shadow: var(--shadow3);
  z-index: 1;
  transition: var(--transition1);
}

.formbbtn::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
  transition: var(--transition1);
}

.formBtn ion-icon {
  font-size: 16px;
}
.formBtn:hover {
  background: var(--bg-gradient-yellow1);
}
.formBtn::before {
  background: var(--bg-gradient-yellow2);
}

.formBtn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.formBtn:disabled:hover {
  background: var(--border-gradient-onyx);
}
.formBtn:disabled:hover::before {
  background: var(--bg-gradient-jet);
}
.message {
  color: white;
}

/*MEDIA QUERIES*/

@media (min-width: 450px) {
  .clientsItem {
    min-width: calc(50% - 10px);
  }

  .projectImg,
  .blogbannerbox {
    height: auto;
  }
}

@media (min-width: 580px) {
  :root {
    --fs1: 32px;
    --fs2: 24px;
    --fs3: 26px;
    --fs4: 18px;
    --fs6: 15px;
    --fs7: 15px;
    --fs8: 12px;
  }

  .sidebar,
  .article {
    width: 520px;
    margin-inline: auto;
    padding: 30px;
  }

  .articleTitle {
    font-weight: var(--fw600);
    padding-bottom: 15px;
  }

  .articleTitle::after {
    width: 40px;
    height: 5px;
  }

  .iconbox {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    font-size: 18px;
  }

  .main {
    margin-top: 60px;
    margin-bottom: 100px;
  }

  .sidebar {
    max-height: 212px;
    margin-bottom: 30px;
  }

  .sidebar.active {
    max-height: 620px;
  }

  .sidebarInfo {
    gap: 25px;
  }

  .avatarBox {
    border-radius: 30px;
  }
  .avatarBox img {
    width: 120px;
  }

  .infocontent .name {
    margin-bottom: 15px;
  }
  .infocontent .title {
    padding: 8px 20px;
  }

  .infoMoreBtn {
    top: -30px;
    right: -30px;
    padding: 10px 15px;
  }

  .infoMoreBtn span {
    display: block;
    font-size: var(--fs8);
  }

  .infoMoreBtn ion-icon {
    display: none;
  }

  .separator {
    margin: 32px 0;
  }

  .contactslist {
    gap: 20px;
  }

  .contactInfo {
    width: calc(50% - 51px);
    max-width: calc(50% - 51px);
  }
  .contactItem:nth-of-type(2) .contactInfo {
    max-width: calc(50% - 88px);
    width: calc(50% - 88px);
  }

  .navbar {
    border-radius: 20px 20px 0 0;
  }

  .navbarlist {
    gap: 20px;
  }
  .navbarlink {
    --fs8: 14px;
  }

  .about .articleTitle {
    margin-bottom: 20px;
  }
  .aboutText {
    margin-bottom: 40px;
  }

  .serviceItem {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;
    padding: 30px;
  }

  .serviceIconBox {
    margin-bottom: 0;
    margin-top: 5px;
  }

  .serviceContentBox {
    text-align: left;
  }

  .testimonialsTitle {
    margin-bottom: 25px;
  }

  .testimonialsList {
    gap: 30px;
    margin: 0 -30px;
    padding: 30px;
    padding-bottom: 35px;
  }

  .contentCard {
    padding: 30px;
    padding-top: 25px;
  }

  .testimonialsAvatarBox {
    transform: translate(30px, -30px);
    border-radius: 28px;
  }

  .testimonialsAvatarBox img {
    width: 80px;
  }

  .testimonialsItemTitle {
    margin-bottom: 10px;
    margin-left: 95px;
  }

  .testimonialsText {
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }

  .modalContainer {
    padding: 20px;
  }

  .testimonialsModal {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 25px;
    padding: 30px;
    border-radius: 20px;
  }

  .modalImgWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modalAvatarBox {
    border-radius: 18px;
    margin-bottom: 0;
  }

  .modalAvatarBox img {
    width: 65px;
  }

  .modalImgWrapper > img {
    display: block;
    position: relative;
    /* flex-grow: 1; */
    width: 35px;
    top: 30px;
    left: 0;
  }

  .clientsList {
    gap: 25px;
    margin: 0 -30px;
    padding: 45px;
    scroll-padding-inline: 45px;
  }

  .clientsItem {
    min-width: calc(33.33% - 35px);
  }

  .timelinelist {
    margin-left: 65px;
  }

  .timelineitem:not(:last-child)::before {
    left: -40px;
  }

  .timelineitem::after {
    height: 8px;
    width: 8px;
    left: -43px;
  }

  .skillsItem:not(:last-child) {
    margin-bottom: 25px;
  }

  /* .projectImg, */
  .blogbannerbox {
    border-radius: 16px;
  }

  .blog-posts-list {
    gap: 30px;
  }

  .blog-content {
    padding: 25px;
  }

  .mapBox {
    height: 380px;
    border-radius: 18px;
  }

  .inputWrapper {
    gap: 30px;
    margin-bottom: 30px;
  }

  .formInput {
    padding: 15px 20px;
  }

  textarea.formInput {
    margin-bottom: 30px;
  }

  .formBtn {
    --fs-6: 16px;
    padding: 16px 20px;
  }

  .formBtn ion-icon {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .sidebar,
  .article {
    width: 700px;
  }

  .contactInfo {
    width: calc(100% - 134px);
    max-width: calc(100% - 134px);
  }
  .contactItem:nth-of-type(2) .contactInfo {
    max-width: calc(100% - 171px);
    width: calc(100% - 171px);
  }

  .hasScrollbar::-webkit-scrollbar-button {
    width: 100px;
  }

  .contactslist {
    grid-template-columns: 1fr 1fr;
    gap: 30px 15px;
  }

  .navbarlink {
    --fs8: 15px;
  }

  .testimonialsModal {
    gap: 35px;
    max-width: 680px;
  }

  .modalAvatarBox img {
    width: 80px;
  }

  .articleTitle {
    padding-bottom: 20px;
  }

  .filterSelectBox {
    display: none;
  }

  .filterList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    padding-left: 5px;
    margin-bottom: 30px;
  }

  .filterItem button {
    color: var(--light-gray);
    font-size: var(--fs5);
    transition: var(--transition1);
  }

  .filterItem button:hover {
    color: var(--light-gray70);
  }
  .filterItem button.active {
    color: var(--orange-yellow-crayola);
  }

  .projectList,
  .blog-posts-list {
    grid-template-columns: 1fr 1fr;
  }

  .inputWrapper {
    grid-template-columns: 1fr 1fr;
  }

  .formBtn {
    width: max-content;
    margin-left: auto;
  }
}

@media (min-width: 1024px) {
  :root {
    --shadow1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
    --shadow2: 0px 16px 30px hsla(0, 0%, 0%, 0.125);
    --shadow3: 0px 16px 40px hsla(0, 0%, 0%, 0.125);
  }

  .sidebar,
  .article {
    width: 950px;
    box-shadow: var(--shadow5);
  }

  .main {
    margin-bottom: 60px;
  }
  .contactInfo {
    width: calc(100% - 62px);
    max-width: calc(100% - 62px);
  }
  .contactItem:nth-of-type(2) .contactInfo {
    max-width: calc(100% - 98px);
    width: calc(100% - 98px);
  }

  .maincontent {
    position: relative;
    width: max-content;
    margin: auto;
  }

  .navbar {
    position: absolute;
    bottom: auto;
    top: 0;
    left: auto;
    right: 0;
    width: max-content;
    border-radius: 0 20px;
    padding: 0 20px;
    box-shadow: none;
  }

  .navbarlist {
    gap: 30px;
    padding: 0 20px;
  }

  .navbarlink {
    font-weight: var(--fw500);
  }

  .serviceList {
    grid-template-columns: 1fr 1fr;
    gap: 20px 25px;
  }

  .testimonialsItem {
    min-width: calc(50% - 15px);
  }

  .modalimg-wrapper > img {
    top: 20px;
  }

  .clientsItem {
    min-width: calc(33% - 15px);
  }

  .projectList {
    grid-template-columns: repeat(3, 1fr);
  }

  .blogbannerbox {
    height: 230px;
  }
}

@media (min-width: 1250px) {
  body::-webkit-scrollbar {
    width: 20px;
  }
  body::-webkit-scrollbar-track {
    background: var(--smoky-black);
  }

  body::-webkit-scrollbar-thumb {
    border: 5px solid var(--smoky-black);
    background: hsla(0, 0%, 100%, 0.1);
    border-radius: 20px;
    box-shadow:
      inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
      inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
  }

  body::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 100%, 0.15);
  }
  body::-webkit-scrollbar-button {
    height: 60px;
  }

  .sidebar,
  .article {
    width: auto;
  }

  .article {
    min-height: 100%;
  }

  .main {
    max-width: 1300px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
  }

  .maincontent {
    min-width: 75%;
    width: 75%;
    margin: 0;
  }

  .sidebar {
    position: sticky;
    top: 60px;
    max-height: max-content;
    height: 100%;
    margin-bottom: 0;
    padding-top: 60px;
    z-index: 1;
  }

  .sidebarInfo {
    flex-direction: column;
  }

  .avatarBox img {
    width: 150px;
  }

  .infocontent .name {
    white-space: nowrap;
    text-align: center;
  }

  .infocontent .title {
    margin: auto;
  }

  .infoMoreBtn {
    display: none;
  }

  .sidebarInfoMore {
    opacity: 1;
    visibility: visible;
  }

  .contactslist {
    grid-template-columns: 1fr;
  }

  .contactInfo :is(.contactlink) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .contactInfo :is(.contactlink, time, address) {
    --fs7: 14px;
    font-weight: var(--fw300);
  }

  .separator:last-of-type {
    margin: 15px 0;
    /* opacity: 0; */
  }

  .socialList {
    justify-content: center;
  }

  .timelinetext {
    max-width: 700px;
  }
}
