/* COUNTDOWN */

.countdown p {
  margin: 0 0 10px;
  font-weight: 600;
  color: var(--onyx);
}

.time {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.time span {
  background: white;
  padding: 10px 12px;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.time strong {
  display: block;
  font-size: 20px;
  color: #111827;
}

.skeleton {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.skeleton span {
  width: 70px;
  height: 60px;
  border-radius: 10px;
  background: linear-gradient(90deg, #e5e7eb 25%, #f3f4f6 37%, #e5e7eb 63%);
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.wrapper {
  text-align: center;
}

.label {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.subLabel {
  opacity: 0.8;
  margin-bottom: 1rem;
}

.time {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.time span {
  font-size: 1.2rem;
}

.skeleton {
  display: flex;
  gap: 1rem;
}

.skeleton span {
  width: 40px;
  height: 30px;
  background: #333;
  border-radius: 6px;
  opacity: 0.3;
}

/* ⌛ SABLIER */
.hourglass {
  width: 40px;
  height: 60px;
  border: 3px solid currentColor;
  border-radius: 8px;
  margin: 0 auto 1rem;
  animation: flip 2s infinite ease-in-out;
}

@keyframes flip {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.results {
  text-align: center;
  padding: 20px;
}

.winners {
  margin: 1rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.winner {
  display: flex;
  flex-direction: column;
  background: var(--smoky-black);
  border-radius: 16px;
  padding: 20px 16px 22px;
  text-align: center;
  color: var(--white1);
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  animation: slideUp 0.6s ease forwards;
  overflow: hidden;
  min-height: 210px;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.rank {
  width: 20%;
  margin: 0 auto;
  font-size: 1.4rem;
  color: var(--orange-yellow-crayola);
  background: none;
}
.compagny {
  font-size: 1.6rem;
}
.prize {
  color: var(--orange-yellow-crayola);
}

@media (min-width: 768px) {
  .winners {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .winner {
    width: 80%;
  }
  /* .winner:nth-child(1) {
    position: absolute;
    z-index: 2;
    width: 45%;
  }
  .winner:nth-child(2) {
    position: absolute;
    z-index: 1;
    width: 35%;
    top: 23px;
    left: -25px;
  }
  .winner:nth-child(3) {
    position: absolute;
    z-index: 1;
    width: 35%;
    top: 23px;
    right: -25px;
  } */
}
