/* COUNTDOWN */

.countdown p {
  margin: 0 0 10px;
  font-weight: 600;
  color: var(--onyx);
}

.time {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.time span {
  background: white;
  padding: 10px 12px;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.time strong {
  display: block;
  font-size: 20px;
  color: #111827;
}
