.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 0 auto 2rem auto;
}
.titleSection {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  gap: 1rem;
}
.drawForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: var(--jet);
  padding: 2rem;
  border-radius: 16px;
  color: var(--white1);
  width: 90%;
  max-width: 800px;
  margin: auto;
}
.step {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.stepIndicator {
  position: absolute;
  right: -20px;
  top: -20px;
  font-size: 14px;
  font-weight: 500;
  color: var(--orange-yellow-crayola);
  margin-bottom: 15px;
}

.step h2 {
  margin-bottom: 1rem;
  font-size: 20px;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.field {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.field input,
.row select {
  padding: 10px 12px;
  border-radius: 8px;
  border: none;
  background: var(--smoky-black);
  color: var(--white1);
}

.field input:focus,
.row select:focus {
  outline: 2px solid var(--orange-yellow-crayola);
}
.recap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 auto 1rem auto;
  background: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-radius: 12px;
}
.recapInfos {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.recapRow {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.recapRow p {
  margin: 0;
}

.stepRow {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: start;
  justify-content: right;
}
.stepRow input {
  padding: 10px 12px;
  border-radius: 8px;
  border: none;
  background: var(--smoky-black);
  color: black;
}
.stepRow select {
  appearance: none;
  padding: 10px 12px;
  border-radius: 8px;
  border: none;
  background: var(--smoky-black);
  color: var(--white1);
}
.buttonGroup {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
}

.buttonGroup button {
  padding: 8px 16px;
  border-radius: 30px;
  background: var(--smoky-black);
  color: var(--white1);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttonGroup button.active {
  background: var(--orange-yellow-crayola);
  color: var(--jet);
}

.buttonRow {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.nextBtn {
  width: 60%;
  text-align: center;
  margin: 1rem auto 0 auto;
  transition: all 0.3s ease;
  background: var(--orange-yellow-crayola);
  color: var(--jet);
}

.nextBtn,
.backBtn,
.submitBtn {
  padding: 12px 24px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  /* color: var(--jet); */
}

.submitBtn {
  background: var(--orange-yellow-crayola);
  color: var(--jet);
}
.nextBtn:hover,
.nextBtn:focus {
  background: transparent;
  color: var(--orange-yellow-crayola);
  border: 1px solid var(--orange-yellow-crayola);
  transition: all 0.3s ease;
}

.backBtn {
  background: var(--bg-body);
  color: var(--orange-yellow-crayola);
  border: 1px solid var(--orange-yellow-crayola);
}

.rulesLink {
  display: contents;
  color: var(--orange-yellow-crayola);
  cursor: pointer;
  text-align: right;
  margin-top: 0.5rem;
}

.checkboxLabel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.checkbox {
  width: 20px;
}
.checkboxtext {
  display: inline;
}
.error {
  color: red;
  text-align: left;
}
.labelError {
  color: red;
}
.inputError {
  outline: 1px solid #e63946;
}
.successWrapper {
  position: relative;
  width: 90%;
}

.successMessage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #e6f9f0;
  border: 1px solid #3ccf91;
  color: #1e7f52;
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

@media (min-width: 590px) {
  .titleSection,
  .drawForm,
  .successWrapper {
    width: 80%;
  }
  .stepRow input,
  .stepRow select {
    width: 80%;
  }
  .buttonGroup {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .row {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .recap {
    width: 90%;
  }
  .recapInfos {
    width: 80%;
    margin: 0 auto;
  }
  .recapRow {
    flex-direction: row;
    gap: 2rem;
  }

  .recapRow p {
    width: 50%;
  }
  .stepRow input,
  .stepRow select {
    width: 60%;
  }
  .nextBtn {
    width: 30%;
  }
}
@media (min-width: 1024px) {
  .stepRow input,
  .stepRow select {
    width: 50%;
  }
  .nextBtn {
    width: 30%;
  }
  .recap {
    width: 80%;
  }
  .successMessage {
    width: 800px;
    margin: 0 auto;
  }
}
@media (min-width: 1280px) {
  .recap {
    width: 80%;
  }
}

@media (prefers-color-scheme: light) {
  .backBtn {
    color: var(--jet);
  }
}
