.faqSection {
  display: flex;
  width: 90%;
  justify-content: center;
  margin: 2rem auto;
}

.wrapper {
  width: 100%;
}

.title {
  margin-bottom: 30px;
  font-size: 1.6rem;
  text-align: center;
  color: var(--white1);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--onyx);
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin: 20px 0;
  overflow: hidden;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Aligne verticalement le texte et le + */
  width: 100%;
  background: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 20px;
  text-align: left;
  cursor: pointer;
  gap: 1rem;
  color: var(--white1);
}

.icon {
  font-size: 2rem;
  transition: transform 0.3s;
}

/* rotation si actif */
.question.active .icon {
  transform: rotate(45deg);
}

.answercont {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.answer {
  padding: 0 20px 20px;
  line-height: 1.6rem;
  font-size: 1rem;
  color: var(--white1);
}

/* @media screen and (max-width: 790px) {
  .wrapper {
    width: 85%;
  }
} */

@media (min-width: 590px) {
  .container {
    width: 100%;
    margin: 1rem auto;
  }
}
@media (min-width: 768px) {
  .faqSection {
    width: 80%;
    margin: 1rem auto;
  }
  .title {
    font-size: 2rem;
  }
  .question {
    font-size: 1.3rem;
  }
  .answer {
    font-size: 1.1rem;
  }
}
@media (min-width: 1024px) {
  .title {
    font-size: 2.4rem;
  }
  .question {
    font-size: 1.4rem;
  }
  .answer {
    font-size: 1.2rem;
  }
}
@media (min-width: 1280px) {
  .title {
    font-size: 2.8rem;
  }
  .wrapper ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 1rem; */
    align-items: flex-start;
  }
  .container {
    width: 48%;
    min-height: 140px;
    gap: 0;
    justify-content: center;
  }
  .question {
    font-size: 1.5rem;
  }
  .answer {
    font-size: 1.3rem;
  }
}
